<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Der ConnectionString darf nicht verändert werden. -->
    <add name="StresserBudgetDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;"/>
  </connectionStrings>
  <appSettings>
    <!-- Pfad zum Daten-Verzeichnis der Applikation. Kann relativ zum Ausführungsverzeichnis sein (z.B. ..\..\meineDaten). -->
    <add key="DataDirectory" value="..\..\..\TestData"/>
    <!-- Der Dateiname der Datenbank. Muss im DataDirectory liegen. -->
    <add key="DatabaseFilename" value="StresserBudget.accdb"/>
    <!-- Verzeichnis, in dem Datenbank-Backups verwaltet werden sollen. Kann relativ zum Ausführungsverzeichnis sein (z.B. ..\..\meineDaten). -->
    <add key="DatabaseBackupDir" value="..\..\..\TestData\Backups"/>
    <!-- Dauer in Tagen, während denen die Backups der Datenbank behalten werden sollen. -->
    <add key="DatabaseBackupLebenszeit" value="45"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>